.descuento-envios{
    width: 100%;
    display: flex;
    justify-content: center;
}

.container-dyv{
    margin: 25px;
}

.container-img-dyv{
    width: 600px;
    height: 350px;
}

.backgroundTitle{
    width: 50%;
    height: 50px;
    background-color: aqua;
    .secundaryTitle{
        font-size: 4rem;
    }
}


