.text-container{
    display: flex;
    justify-content: center;
    padding: 50px;
    .container-typing-text{
        padding: 10px 130px;
        background-color: aqua;
        clip-path: polygon(100% 0, 94% 51%, 100% 100%, 0% 100%, 6% 52%, 0% 0%);

    }
    .typing-text-animation{
        display: block;
        font-family: monospace;
        white-space: nowrap;
        border-right: 4px soid;
        font-size: 45px;    
        width: 41ch;
        animation: typing 2s steps(41), blink .5s infinite step-end alternate;
        overflow: hidden;
        text-shadow: 1px 3px white;
    }
}

@keyframes typing{
    from { width: 0;}
}

@keyframes blink{
    50% {border-color: transparent;}
}