.containerCarrito {
    display: flex;
    margin: 15px;
    align-items: center; // Centrar verticalmente los elementos dentro del contenedor

    .fa-shopping-cart {
        font-size: 24px; // Tamaño del icono
        margin-left: 10px; // Espacio a la izquierda del icono para ajustarlo a la derecha
        cursor: pointer;
        &:hover{
            color: rgb(0, 217, 255);
        }
    }

    span{
        margin-left: 10px;
    }
}


