.containerCarrito {
    display: flex;
    margin: 15px;
    align-items: center; // Centrar verticalmente los elementos dentro del contenedor

    .fa-shopping-cart {
        font-size: 24px; // Tamaño del icono
        margin-left: 10px; // Espacio a la izquierda del icono para ajustarlo a la derecha
        cursor: pointer;
        &:hover{
            color: rgb(0, 217, 255);
        }
    }

    span{
        margin-left: 10px;
    }
}

.carritoDesplegable {
    display: none;
    position: fixed;
    right: 0;
    background-color: #f9f9f9;
    min-width: 330px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 103;
    p{
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        margin: 10px 0px;
    }
    .containerPrecio{
        width: 100%;
        display: flex;
        p{
            width: 50%;
            text-align: end;
        }
        #totalVenta{
            width: 50%;
            display: flex;
            align-items: center;
            padding: 5px;
            text-align: center;
            font-weight: bold;
        }
    }
    
    a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: center;
        color: black;
        &:hover {
            color: red;
        }
    }
}





#productosCarrito{
    width: 100%;
}

.prodCarrito{
    height: 70px;
    display: flex;
    .containerPCarrito{
        width: 100%;
        border-bottom: solid 1px black;
        display: flex;
        margin: 0px 5px;
        .containerImg{
         display: flex;
         align-items: center;
         margin-right: 5px;   
            img{
                width: 50px;
                height: 50px;
                object-fit: cover;
            }
        }
        .nombrePCarrito{
            font-size: 13px;
            color: black;
            width: 50%;
            display: flex;
            align-items: center;
        }
        span{
            font-size: 13px;
            width: 15%;
            display: flex;
            align-items: center;
            margin-right: 5px;
        }
        .containerTacho{
            display: flex;
            align-items: center;
            justify-content: center;
            color: aqua;
            width: 15%;
            i:hover{
                color: red;
                cursor: pointer;
            }
        }
    }
}


