.container-filtros{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 50px;
    #filtro_categoria{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 50px;
    }
    #filtro_marca{
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-bottom: 50px;
    }

    .container-filtros-item{
        display: flex;
        position: relative;
    }

    .precio_producto{
        display: flex;
        flex-direction: column;
        height: 200px;
        gap: 20px;
    }

    .inputInvisible{
        display: none;
    }

    label{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: bold;
        color: black;
        cursor: pointer;
    }


    .filtroSeleccionado{
        transform:translateX(30px); 
        background-color: rgb(83, 83, 83);
        color: white;
    }

    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
    
}

