.footer{
    width: 100%;
    margin-top: 80px;
    height: 270px;
}

.double-razor {
    // &:before,
    // &:after {
    //     height: 3px;
    //     width: 80%;
    // //   box-shadow: // Chrome
    // //     0 -0.5px 0 aqua,
    // //     0 0.5px 0  aqua;
    // //     border: solid black; 
    // //   border-width: 0;
    //     background-color: aqua;
    // }
    width: 100%;
    height: 3px;
    background-color: aqua;
  }

.container-items{
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.719);
    display: inline-block;
    justify-content: center;
    .redes-ft{
        display: flex;
        justify-content: center;
        margin: 50px;
        margin-bottom: 15px;
        a{
            margin: 5px 13px;
            color: aqua;
            i{
                font-size: 30px;
            }
            &:hover{
                color: white;
            }
        }
    }
    h3{
        display: flex;
        justify-content: center;
        font-size: 50px;
        color: white;
        text-shadow: 5px 5px black, 0 0 12px aqua;
    }   
}

.copy-right{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}