.new-collection{
    display: flex;
    width: 100%;
    justify-content: center;
}

#container-collection{
    display: flex;
    width: 90%;
    border: solid 1px aqua;
    justify-content: space-around;
    padding: 25px;
}

.new-collection-card{
    width: 250px;
    height: 420px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 32px 6px rgba(0,0,0,0.75);
    .container-img-new-collection{
        position: relative;
        flex: 1;
        .image-wrapper {
            position: relative;
            flex: 1;
            width: 100%;

            .original-image,
            .hover-image {
            width: 100%;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            }

            .hover-image {
                opacity: 0;
                transition: opacity 0.3s ease; 
            }
          
            &:hover .original-image {
                opacity: 0; 
            }
          
            &:hover .hover-image {
                opacity: 1; 
            }
            
        }
        
        i{
            position: absolute;
            top: 0;
            right: 0;
            margin: 10px;
            color:aqua;
            &:hover{
                opacity: 0.5;
            }
        }
    }
    .item-info{
        display: flex;
        flex-direction: column;
        a{
            display: block;
            h3{
                padding: 10px 20px 5px 10px;
                color: black;
                text-decoration: none;
            }
            h4{
                padding: 10px 20px 5px 10px;
                color: black;
                text-decoration: none;
            }
        }
    }    
}