.section-slide{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
}
 //slide only

.slide{
    width: 70%;
    height: 400px;
    margin: 50px;
    .content-slide{
        width: 100%;
        height: 400px;
        display: flex !important;
        flex-direction: column;
        position: relative;  
        justify-content: center;
        align-items: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            
        }
        h3{
            position: absolute;
            color: transparent;
            font-size: 130px;
            border-radius: 2px;
            -webkit-text-stroke: 3px white;
            font-family: 'IBM Plex Sans Condensed', sans-serif;
        }
    }
}

.slide::after{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.164);
}

.slick-next:before, .slick-prev:before {
    color:black !important;
    font-size: 50px !important;
}

.slick-prev{
    left: -55px !important;
}
